<link rel="stylesheet" href="css/home.css">
<h1>Habit Tracker / <%= title %></h1>

<section id="habits">
  <form action="" id="new-habit-form" method="post">
    <input type="text" name="habit" placeholder="Enter Your Habit" required>
    <input type="submit" value="Add Habit">
  </form>
</section>