<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="/css/signin.css">

<div class="form-container">
  <form action="/users/create-session" method="post">
    <div class="form-group">
      <input type="email" class="form-control" name="email" placeholder="Enter your email" required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Enter your password" required>
    </div>
    <input type="submit" class="btn btn-primary m-auto" value="Sign In">
  </form>
</div>