<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="/css/signup.css">

<div class="form-container">
  <form action="/users/create" method="post">
    <div class="form-group">
      <input type="text" class="form-control" name="name" placeholder="Your name" required>
    </div>
    <div class="form-group">
      <input type="email" class="form-control" name="email" placeholder="Your email" required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Your password" required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="confirm_password" placeholder="Confirm password" required>
    </div>
    <input type="submit" value="Sign Up" class="btn btn-primary m-auto">
  </form>
</div>